html {
  box-sizing: border-box;
  font-family: Georgia;
  font-size: 100%;
  line-height: 1.5;
  color: #2f2d13;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-family: "Sigmar One";
  font-size: 3rem;
  color: #b20953;
  margin: 0;
}

h2 {
  font-family: "Sigmar One";
  font-size: 1.875rem;
  color: #b20953;
}

.nav {
  padding: .3em;
}

.nav li {
  list-style-type: none;
  display: inline-block;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li a {
  font-size: 1.125rem;
  display: block;
  padding: .2em .5em .3em;
  background-color: #b2a212;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

a:hover, .current {
  background-color: #cc1465;
}

header, footer {
  text-align: center;
  background-color: #ffe500;
}

footer {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

body {
  margin: 0;
}
